@font-face {
  font-family: Norse-Bold;
  src: url(../fonts/Norse-Bold.otf);
}

body {
  margin: 0;
  padding: 0;
  font-family: Norse-Bold, sans-serif;
}

.main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.image-logo {
  background-image: url("photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 35vw;
  color: white;
  font-family: Norse-Bold, sans-serif;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 65vw;
  background-color: lavenderblush;
}

.first {
  height: 25vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 10%;
  margin-bottom: 5%;
}

.second {
  height: 25vh;
  background-color: white;
}

.third {
  height: 35vh;
}

.form-main-div {
  display: flex;
  flex-direction: row;
}
